
header{
    background-color: #026aa7;
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
}
svg{
    padding: 0.5rem;
}
.header-icon{
    display: flex;
    justify-content: space-between;
}
.icon-border{
    background-color: rgba(255, 255, 255, 0.342);
    margin: 1.5px 3px;
    height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    
}
.icon-border:hover{
    background-color: rgba(255, 255, 255, 0.157);
}
.search-icon{
    width: 12rem;
    display: flex;
    flex-direction: row-reverse;
}

.trello-board-icon{
    display: flex;
}

.board-icon{
    
    
    color: #fff;
    font-weight: 700;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    padding: 10px 10px ;
    cursor: pointer;
    
}
#middle-icon{
    width: 8rem;
    height: 2.5rem;
    padding-right: 25rem;
    filter: opacity(70%);
    cursor: pointer;
}
#middle-icon:hover{
    filter: opacity(90%);
}