<div class="checkpoints">
    <div class="checkpoint">
        <div class="checkpoint-head">
            <div><img src="../../assets/images/checklist.png" alt="checklist-icon" id="check-icon"></div>
            <div class="checklist-name" style="font-size: 1.3rem;font-weight: 400;">{{curCheckList.name}}</div>
            <div><button id="btn-delete" (click)="deleteCheckList(curCheckList)">Delete</button></div>
        </div>
        <div class="checklist-progress"> 
            <div>0 %</div>
            <div id="myProgress">
                <div id="myBar"></div>
            </div>
        </div>
        <!-- <div class="checkbox-items">
            
        </div> -->
        <app-check-list-items [checkList]="curCheckList" [reLoadIt]="reLoadCheckItem"></app-check-list-items>
        <div *ngIf="showCardItemInput">
            <input type="text" #checkItemName><br>
            <button (click)="addCheckItem(curCheckList.id,checkItemName)">Add</button>
        </div>
        <button id="add-checklist-btn" *ngIf="!showCardItemInput" (click)="addCheckListItemsForm()">Add an item</button>
    </div>
</div>