.checklist{
    background-color: #d1cfc9;
    padding: 0.5rem 6rem 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
  }
.checklist:hover{
    transform: scale(1.06);
}
#btn-delete{
    background-color: #d1cfc9;
    border: none;
    height: 2.3rem;
    width: 4.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    left: 45rem;
    /* padding: 0.5rem; */
}
#btn-delete:hover{
    transform: scale(1.1);
}
#add-checklist-btn{
    border: none;
    margin-top: 1rem;
    margin-left: 2.5rem;
    font-size: 1rem;
    background-color:  #d1cfc9;
} 
#checklist-icon{
    height: 1.5rem;
    width: 1.5rem;
    filter: invert(100%);    
}
#check-icon{
  height: 1.8rem;
  width: 1.8rem;
  filter: invert(100%);   
}
#checklist-title{
    margin-left: 1rem;
    font-size: 1.3rem;
    position: relative;
    bottom: 0.4rem;
}
.checkpoints{
    margin-top: 1.5rem;
}
.checkpoint-head{
    display: flex;
    
}
.checkpoint-head div{
  margin-right: 1rem;
}
.checklist-progress{
  display: flex;
  margin-top: 1rem;
}
#myProgress {
  width: 58%;
  background-color: #ddd;
  border-radius:0.7rem;
  margin-left: 1.4rem;
  height: 0.8rem;
}

#myBar {
  width: 1%;
  
  border-radius:0.5rem;
}
.checkbox-items{
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
}
.checkbox-item{
    margin-left: 1.5rem;
    
}