
<!-- <h3>{{listId}}</h3> -->

<ul>
    <li *ngFor="let card of cards" class="cards" (click)="showCardModal(card)">
        {{card.name}}<img src='../../assets/images/trash.svg' id='card-delete' (click)="deleteCard(card,$event)">
    </li>
    <li id="new-card" *ngIf="!showForm" (click)="addNewCardForm($event)" >Add another card</li>
    <li *ngIf="showForm" id="new-card-input"><input #newCard type="text"><button *ngIf="showForm" id="add-card-btn" (click)="addNewCard(listId,newCard)">Add Card</button> </li>
    
</ul>
<app-card-modal *ngIf="viewCardModal" [curCard]="curCardInfo" (hideCardModal)="viewCardModal=false"></app-card-modal>
