ul{
    position: relative;
    right: 3.4rem;
}
.cards{
    padding: 0.7rem 11rem 0.7rem 0.5rem;
    margin: 1rem 1rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: white;
    font-weight: 300;
    width: 7rem;
    white-space:nowrap;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
#new-card{
    color:rgba(70, 65, 65, 0.746);
    margin-left: 1.2rem;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    padding: 1rem 0;
    list-style-type: none;
}
#new-card:hover{
    color:#30302e;
    background-color: #cecfd8;
    width: 110%;
}
#card-delete{
    display: none;
    height: 1rem;
    width: 1rem;
}
.cards:hover #card-delete{
    display:block;
    position: relative;
    top:0.3rem;
    left:10rem;
    
}
#new-card-input{
    list-style-type: none;
}
input{
    border: none;
    height: 3rem;
    width: 110%;
    
    margin-left: 1rem;
    font-size: 1rem;
    list-style-type: none;
}
#add-card-btn{
    background-color: #5aac44;
    box-shadow: none;
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    left: 1.4rem;
    padding: 0.5rem;
    margin-top: 1rem;
}