<div class="container">
    <app-header style="background: none;"></app-header>
    <div class="board-info">
        <select name="board-view" id="board-view">
            <option value="Board" style="background-size: 10px 10px;" selected> Board</option>
            <option value="Calendar">Calendar</option>
            <option value="Map">Map</option>
        </select>
        <div class="board-title">{{boardName }}</div>
        <div class="star-icon-box"><img src="../../assets/images/star-regular.svg" alt="star-icon" id="star-icon"></div>
    </div>
    
    <ul>
        <li *ngFor="let list of listsOfBoard">{{list.name}} <app-cards [listId]="list.id"></app-cards></li>
    </ul>
    
</div>