app-header{
    
}
.container{
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x270/efea59b89ada0934c5256715fb180bd9/photo-1463107971871-fbac9ddb920f.jpg");
    height: 59rem; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    
}
ul{
    display: flex;
    position: relative;
    right: 2.5rem;
}
ul li{
    margin: 0 1rem;
    padding: 1rem;
    list-style-type: none;
    width: 19rem;
    border-radius: 0.4rem;
    background-color: #e3e4e8;
    font-size: 1.4rem;
    font-weight: 500;
}

.board-info{
    margin: 1rem;
    display: flex;
}
#board-view{
    width: 6rem;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.342);
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
#board-view option{
    background-color: white;
    color: black;
    height: 6rem;
    margin: 5rem;
}
#board-view option:hover{
    background-color: ivory;
}
.board-title{
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
    
    padding: 0.4rem 0 1.5rem 1.5rem;
}
.star-icon-box{
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.342);
    margin: 0 1.5rem;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#star-icon{
    height: 1.5rem;
    width: 2rem;
    cursor: pointer;
    
}
