<div id="myModal" class="modal" >

    <!-- Modal content -->
    <div class="modal-content">

      <span class="close" (click)="hideModal()">&times;</span>
      <div>
          <img src="../../assets/images/window-maximize-regular.svg" alt="window-icon" width="23rem" height="23rem">
          <span id="card-info-title">{{curCard.name}}</span>
      </div>
      <div style="margin: 1rem 0 0 2.5rem;">in list <u id="card-list">{{curListName}}</u></div>
      <div class="add-to-card">
          <div style="color: dimgray;letter-spacing: 0.07rem;">ADD TO CARD</div>
          <div class="checklist" (click)="addNewCheckListModal()"><img src="../../assets/images/checklist.png" alt="checklist-icon" id="checklist-icon"><span id="checklist-title">Checklist</span></div>
      </div>
      <div class="description">
        <div class="description-head">
            <div><img src="../../assets/images/align-justify-solid.svg" alt="info-logo" height="20rem" width="30rem"></div>
            <div style="font-size: 1.3rem;font-weight: 400;">Description</div>
            <div><button id="btn-edit">Edit</button></div>
        </div>
        <div class="description-content">
            {{curCard.desc}} 
        </div>
      </div>
      
      <ul>
          <li *ngFor="let checklist of checkListOfCard"><app-check-list (reloadCardModal)="ngOnInit()" [curCheckList]="checklist"></app-check-list></li>
      </ul>
      <div id="checklist-modal" class="check-modal" *ngIf="showCheckListInput">

            <!-- Modal content -->
            <div class="checklist-modal-content">
                <span class="close-check-modal" (click)="hideCheckListInput()">&times;</span>
                Title
                <input type="text" id="checklist-input" #newCheckList>
                <button id="btn-add" (click)="addNewCheckList(newCheckList,curCard)">Add</button>
            </div>
      
      </div>
    </div>
  
</div>