.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color:#f4f5f7;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 0.5rem;
    overflow: scroll;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.3);
  }

  #card-info-title{
    padding-left: 1rem;
    margin-top: 5rem;
    font-size: 1.5rem;
}
.description-head{
    display: flex;
    margin-top: 3rem;
}
.description-head div{
    margin-right: 1rem ;
}
#btn-edit{
    background-color: #d1cfc9;
    border: none;
    height: 2rem;
    width: 4rem;
    font-size: 1.2rem;
    cursor: pointer;
    
}
ul{
  position: relative;
  right: 2.3rem;
}
li{
  list-style-type: none;
}
#btn-delete{
  background-color: #d1cfc9;
  border: none;
  height: 2.3rem;
  width: 4.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  left: 45rem;
  /* padding: 0.5rem; */
}
#btn-delete:hover{
  transform: scale(1.1);
}
.description-content{
    width: 60%;
    margin-left: 2.6rem;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.7rem;
}
.add-to-card{
    float: right;
    margin-right: 5rem;
}
.checklist:hover{
  transform: scale(1.06);
}
.checklist{
  background-color: #d1cfc9;
  padding: 0.5rem 6rem 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}
#checklist-icon{
    height: 1.5rem;
    width: 1.5rem;
    filter: invert(100%);    
}
#check-icon{
  height: 1.8rem;
  width: 1.8rem;
  filter: invert(100%);   
}
#checklist-title{
    margin-left: 1rem;
    font-size: 1.3rem;
    position: relative;
    bottom: 0.4rem;
}
.checkpoints{
    margin-top: 1.5rem;
}
.check-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 32rem;
  top: 14rem;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0,0.2); Black w/ opacity*/
}

/* Modal Content */
.checklist-modal-content {
  background-color:#f4f5f7;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 10%;
  border-radius: 0.5rem;
  
}

/* The Close Button */
.close-check-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-check-modal:hover,
.close-check-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.3);
}
#btn-add{
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  margin-top: 0.3rem;
}
#checklist-input{
  border: 2px solid lightblue;
  display: block;
  height: 1.5rem;
  font-size: 1.4rem;
  width: 70%;
  margin: 0.5rem 0;
}
.add-check-items-btn{
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  margin-top: 0.3rem;
  display: block;
}