<app-header></app-header>
<div class="main-view">
    <div class="board-heading"><img id="member-icon" src="../../assets/images/user-regular.svg">Personal Boards</div>
    <div class="board-view">
        <ul>
            <li *ngFor="let board of allBoards" (click)="getAllListsOfBoard(board)">{{board.name}}</li>
            <li id="last-board">Create new Board</li>
        </ul>
    </div>
</div>