.main-view{
    display: flex;
    flex-wrap: wrap;
    
    margin: 5rem;
    margin-left: 10rem;
}
#member-icon{
    height: 2rem;
    width: 4rem;
}


.board-view{
    position: relative;
    right: 2.4rem;
    bottom: 1rem;
}
.board-view ul{
    display: flex;
    flex-wrap: wrap;
    
}


li{
    margin: 1rem;
    height: 10rem;
    width: 20rem;
    color:white;
    list-style-type: none;
    border-radius: 5px;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x270/efea59b89ada0934c5256715fb180bd9/photo-1463107971871-fbac9ddb920f.jpg");
    background-repeat: no-repeat;
    font-weight:700 ;
    font-size: 1.8rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    padding: 0.5rem;
    cursor: pointer;
}
li :hover{
    filter: opacity(88%);
}
#last-board{
    background: none;
    color: black;
    font-weight: 400;
    background-color: #f3efef;
    display: flex;
    justify-content:center;
    align-items: center;
}
.board-heading{
    font-size: 1.6rem;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    margin-bottom: 0.8rem;
    display: flex;
}
